/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align-items ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify-content ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}

/* styles for home page */

.testive-home {
    @include flex;
    @include flex-direction(column);
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.home-nav {
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    background-color: #2c3e50;
    padding: 25px 50px;
    .home-nav-links {
        @include flex;
        @incluide flex-direction(row);
        @include flex-align-items(center);
        @include flex-justify-content(space-between);
    }
    .home-testive-logo {
        width: 150px;
    }
    .home-nav-link {
        color: #ffffff;
        margin-left: 25px;
        &:hover {
            color: #29abe2;
        }
    }
    .home-nav-link:nth-of-type(2) {
        border: solid 2px #f7931e;
        border-radius: 5px;
        color: #f7931e;
        padding: 10px 15px;
        &:hover {
            color: #29abe2;
            border: solid 2px #29abe2;
        }
    }
}

.home-hero {
    @include flex;
    @include flex-align-items(center);
    @include flex-direction(column);
    background-color: #2c3e50;
    padding: 100px;
    .home-hero-header {
        color: #ffffff;
        font-size: 42px;
        max-width: 600px;
        text-align: center;
    }
    .home-bold-subheader {
        color: #f7931e;
        font-weight: 700;
    }
}

.home-motivation-section {
    @include flex;
    @include flex-direction(column);
    padding: 50px;
    .home-motivation-header {
        border-bottom: 2px solid #eaeaea;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
        padding-bottom: 10px;
    }
    .home-motivation-header-bold {
        color: #29abe2;
    }
    .home-motivation-content {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .home-motivation-placeholder {
        background-color: #2c3e50;
        height: 323px;
        width: 570px;
        margin-right: 3%;
        max-width: 49%;
    }
    .home-motivation-copy {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(column);
        @include flex-justify-content(center);
        text-align: center;
        max-width: 49%;
    }
    .home-motivation-copy-testimonial-bold {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
        max-width: 465px;
    }
    .home-motivation-copy-testimonial {
        font-size: 15px;
        margin-bottom: 15px;
        max-width: 465px;
    }
    .home-motivation-copy-tagline {
        font-size: 16px;
        font-weight: 700;
    }
}

.home-resources-section {
    @include flex;
    @include flex-direction(column);
    background-color: #2c3e50;
    padding: 50px;
    .home-resources-header {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
    .home-resources-content-row {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .home-resources-content {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(column);
        @include flex-justify-content(flex-end);
        margin: 0 4.5%;
    }
    .home-resources-icon-ebook {
        margin-bottom: 20px;
        width: 76px;
    }
    .home-resources-icon-webinar {
        margin-bottom: 20px;
        width: 150px;
    }
    .home-resources-icon-article {
        margin-bottom: 20px;
        width: 85px;
    }
    .home-resources-content-header {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    .home-resources-content-button {
        border: solid 2px #29abe2;
        border-radius: 5px;
        color: #29abe2;
        font-weight: 700;
        padding: 5px 15px;
        &:hover {
            background-color: #f7931e;
            border: solid 2px #f7931e;
            color: #ffffff;
        }
    }
}

.home-problem-solver-section {
        @include flex;
        @include flex-direction(column);
        padding: 50px;
    .home-problem-solver-header {
        border-bottom: 2px solid #eaeaea;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }
    .home-problem-solver-wigdets {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);

    }
    .home-problem-solver-card {
        @include flex;
        @include flex-direction(column);
        border: 1px solid #eaeaea;
        box-shadow: 0px 0px 10px 1px #eaeaea;
        margin: 0 20px;
        padding: 30px;
        max-width: 300px;
    }
    .home-problem-solver-card-header {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    .home-problem-solver-card-header-bold {
        color: #f7931e;
    }
    .home-problem-solver-card-text {
        font-size: 19px;
        margin-bottom: 25px;
        text-align: center;
    }
    .home-problem-solver-card-button {
        background-color: #f7931e;
        border: solid 2px #f7931e;
        border-radius: 5px;
        color: #ffffff;
        font-weight: 700;
        margin: 0 auto;
        padding: 5px 25px;
        text-align: center;
        &:hover {
            background-color: #29abe2;
            border: solid 2px #29abe2;
        }
    }
}

.home-footer {
    background-color: #2c3e50;
    padding: 50px;
    .home-news-icons-header {
        color: #F7931E;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .home-news-icons-row {
        @include flex;
        @include flex-align-items(center);
        @include flex-direction(row);
        @include flex-justify-content(center);
        border-bottom: solid 2px rgba(255, 255, 255, 0.2);
        margin-bottom: 35px;
    }
    .home-news-icons {
         padding: 25px;
    }
    .home-contact-us-row {
        color: #ffffff;
        @include flex;
        @include flex-align-items(flex-end);
        @include flex-direction(row);
        @include flex-justify-content(center);
        border-bottom: solid 2px rgba(255, 255, 255, 0.2);
        margin-bottom: 45px;
        padding-bottom: 45px;
    }
    .home-contact-us-words {
        @include flex;
        @include flex-direction(column);
        margin-right: 5%;
        width: 30%;
    }
    .home-contact-us-blurb {
        color: #F7931E;
        font-size: 52px;
        font-weight: 700;
        &:nth-of-type(2) {
            font-size: 30px;
        }
    }
    .home-contact-us-options {
        @include flex;
        @include flex-direction(column);
        width: 30%;
    }
    .home-contact-us-mainline {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .home-contact-us-button {
        background-color: #F7931E;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        width: 70%;
        &:first-of-type {
            margin-bottom: 10px;
        }
        &:hover {
            background-color: #29abe2;
        }
    }
    .home-sitemap {
        @include flex;
        @include flex-direction(row);
        @include flex-justify-content(center);
    }
    .home-site-map-column {
        @include flex;
        @include flex-direction(column);
        margin-right: 6%;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .home-site-map-header {
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 15px;
    }
    .home-site-map-link {
        color: rgba(255, 255, 255, 0.3);
        font-size: 14px;
        margin-bottom: 5px;
    }
    .home-site-map-social-media {}
    .home-site-map-social-media-link {
        color: #ffffff;
    }
}
